.b-bar.b-bar-left
	.b-bar__logo
		a(href="#")
			+svg("logo").b-bar__logo__lg
			+svg("logo-min").b-bar__logo__sm
	.b-bar__nav
		ul.b-bar__nav__list
			li.b-bar__nav__item
				a.b-bar__nav__link.is-active(href="#")
					+svg("nav-01")
					span Dashboard
			li.b-bar__nav__item
				a.b-bar__nav__link(href="#")
					+svg("nav-02")
					span Profile
			li.b-bar__nav__item
				a.b-bar__nav__link(href="#")
					+svg("nav-03")
					span Purchase history
			li.b-bar__nav__item
				a.b-bar__nav__link(href="#")
					+svg("nav-04")
					span Help center
			li.b-bar__nav__item
				a.b-bar__nav__link(href="#")
					+svg("nav-05")
					span Logout
			li.b-bar__nav__item
				a.b-bar__nav__link(href="#")
					+svg("nav-06")
					span White paper
			li.b-bar__nav__item
				a.b-bar__nav__link(href="#")
					+svg("nav-07")
					span Admin section
