.columns
	.column
		h1 Frequently Asked Questions
		.b-faq
			.b-faq__item
				.b-faq__item__title
					| CGL: What is it and why is it so important?
					span.b-faq__item__title__num 01
					span.b-faq__item__title__arw
						+svg("arw-faq")
				.b-faq__item__desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.b-faq__item
				.b-faq__item__title
					| CGL: What is it and why is it so important?
					span.b-faq__item__title__num 02
					span.b-faq__item__title__arw
						+svg("arw-faq")
				.b-faq__item__desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.b-faq__item
				.b-faq__item__title
					| CGL: What is it and why is it so important?
					span.b-faq__item__title__num 03
					span.b-faq__item__title__arw
						+svg("arw-faq")
				.b-faq__item__desc
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	.column
		h2 Documents
		.b-doc
			.b-doc__item
				a.b-doc__link(href="#")
					+svg("doc").b-doc__link__doc
					span.b-doc__link__label White paper
					+svg("link").b-doc__link__link
			.b-doc__item
				a.b-doc__link(href="#")
					+svg("doc").b-doc__link__doc
					span.b-doc__link__label One page
					+svg("link").b-doc__link__link
			.b-doc__item
				a.b-doc__link(href="#")
					+svg("doc").b-doc__link__doc
					span.b-doc__link__label White paper 2
					+svg("link").b-doc__link__link
