.b-crypta
	.b-crypta__box
		.b-crypta__icon
			img(src="images/Bitcoin.svg" alt="")
		.b-crypta__val
			strong 0.0001318
			| !{' '}
			| BTC
	.b-crypta__box
		.b-crypta__icon
			img(src="images/Ethereum1.svg" alt="")
		.b-crypta__val
			strong 0.00625
			| !{' '}
			| ETH
