.b-info
	.b-info__box
		.b-info__title Total purchased
		.b-info__value
			strong 303 294.0000
			| CGL
	.b-info__box
		.b-info__title Token price
		.b-info__value
			strong 1.2421
			| USD
	.b-info__box
		.b-info__title Ends in
		.b-info__value
			strong 493d 01:29:40
