.b-progress
	h2 Token sale progress
	.b-progress__bar
		.b-progress__bar__val(style="width: 25%")
			strong 303 294.00
			| CGL
	.b-progress__val
		.b-progress__val__item
			strong 0 CGL
			span Soft cap
		.b-progress__val__item
			strong 1 400 000.00 CGL
			span Hard cap
