.b-subscribe
	h2 Subscribe
	form(action="#")
		.form-field
			label.form-field__label E-mail
			.form-field__control
				input(type="text" class="inp" value="" placeholder="example@gmail.com")
				button.btn.btn-default
					span Subscribe
