*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	background: #F7FAFF;
	font-family: 'Circe';
}

button:not([disabled]),
a[role="button"]:not([disabled]) {
	cursor: pointer;
}

a {
	text-decoration: none;
	transition: all 400ms ease;
}

ul {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

h1,
h2 {
	font-weight: 700;
	font-size: 26px;
	line-height: 38px;
	color: #4B4C6E;
	margin: 0 0 16px 0;
	padding: 0;

	@include mobile {
		font-size: 20px;
		line-height: 30px;
	}
}

.text-center {
	text-align: center;
}
